*{
    background-color: black;
    background-image: url(img/istockphoto-1354982067-612x612.jpg);
    padding: 0;
    margin: 0;
}
h2
{
background-color: black;
background-image: url(img/istockphoto-1354982067-612x612.jpg);
margin :1% 40%;

    }
canvas{
    background-color: black;
    margin-top: -2%;
    margin-left: 28%;
}
h1{
    transform: rotate(90deg);
    
    background-image: url(img/istockphoto-1354982067-612x612.jpg);
    width: 10px;
    height: 30px;
    margin-top: ;
    margin-left: 20%;
}

      
  